
        .container{
                background-color: rgba(128, 128, 128, 0.407);
                border: 2px solid black;
                width: 1500px;
                height: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
    }
   .box1{
            width: 200px;
            height: 200px;
            background-color: rgba(245, 245, 220, 0.46);
            border: 3px solid black;
            border-radius: 3px;
            padding: 10px;
            margin:50px;
            background-color: rgba(137, 43, 226, 0.4);
            position: relative;
            transition: all 7s linear 1s;
   }
   p{
    font-size: 20px;
   }
   .box1:hover{
    /*transform:rotate(360deg);
    transform: scale(5);
    transform: skew(-45deg);*/
    transform: translate(500px,500px);
   }