*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #565151;
  display: flex;
 justify-content: center;
  align-items: center;
  height: 100vh; 
  font-size: 1.5rem;
  color: #fff;
}
